/* Palette URL: http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF */

/* As hex codes */

.color-primary-0 { color: #AA3939 }	/* Main Primary color */
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }

body {
  font-family: Roboto, sans-serif;
  color:#212529;
  /*background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png'); */
  background-size: cover;
}
#map {
  height: 100%;
  width: 100%;
}
header {
  padding: 20px 0;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}
h1 {
  font-weight: 700;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
}

p a {
padding: 0px;
}

a {
  padding: 0 20px;
  margin: 0;
  color: #550000;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-color: #D46A6A;
  background-size: cover;
  /*background-image: url('https://content.codecademy.com/projects/personal_portfolio/background.jpeg'); */
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/View_from_Volcano_Pacaya%2C_Guatemala.jpg/1920px-View_from_Volcano_Pacaya%2C_Guatemala.jpg'); */
  color: #ffffff;
  height: 250px;
  border-radius: 20px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}
section p {
  padding: 5px;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #4b0505;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #10469e;
  color: #ffffff;
  margin: 0 0 30px;
}


.portrait {
  width:  350px;
  height: 300px;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  border: 2px solid #AA3939;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 0 10px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
